<div class="row">
  <div class="col-md-4">
<h1>Stock</h1>
<hr>
<% @prod_stock.each do |product| %>
</table class="table">
    <tr>
      <td><%= product %></td><br>
    </tr>
</table>
  <% end %>
<br>
<hr>
   <%= link_to 'Back', products_path %>
</div>
</div>